input.toggle {
	display: none;
}
input.toggle:checked ~ label .overlay {
	display: flex;
	z-index: 5;
}
input.toggle:checked ~ aside {
	transform: translateX(0);
}
input.toggle ~ label {
	cursor: pointer;
}

aside {
	background: #f7f7f7;
	border-right: 1px solid #ddd;
	width: var(--sidebarWidth);
	overflow: auto;
	padding-top: 1rem;
	padding-left: 1.5rem;
	position: fixed;
	top: var(--navHeight);
	left: 0;
	bottom: 0;
	transition: transform 0.35s;
	z-index: 5;
}

aside > details {
	padding: 0.5rem;
}
aside > details > summary {
	font-size: 1.2rem;
}
aside > details > details {
	margin-top: 0.75rem;
	padding-left: 1.25rem;
}
aside > details > div {
	margin-top: 0.5rem;
	padding-left: 2rem;
}

summary {
	list-style-type: "▹ ";
}
details[open] summary {
	list-style-type: "▿ ";
}
summary::-webkit-details-marker {
}

details ul {
	list-style-type: circle;
}
