{{ $sections := site.Sections }}

{{ with site.Params.drawer.sections }}
	{{ $sections = slice }}
	{{ range . }}
		{{ $sections = $sections | append (site.GetPage "section" .) }}
	{{ end }}
{{ end }}

<input type="checkbox" class="toggle" id="drawerToggle">

<label for="drawerToggle">
	<div class="hamburger"><i></i></div>
	<div class="overlay"></div>
</label>

<aside>
	{{ range $sections }}
		<details {{ if $.IsDescendant . | or $.IsHome }}open{{ end }}>
			<summary>
				{{ if site.Params.drawer.disableSectionLinks }}
					<span>{{ .LinkTitle }}</span>
				{{ else }}
					<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
				{{ end }}
			</summary>

			{{ range .Pages }}
				{{ if .IsSection }}
					<details {{ if $.IsDescendant . }}open{{ end }}>
						<summary>
							<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
						</summary>

						<ul>
							{{ range .Pages }}
								<li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
							{{ end }}
						</ul>
					</details>
				{{ else }}
					<div><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
				{{ end }}
			{{ end }}
		</details>
	{{ end }}
</aside>
